# The ignore list - Stone-Paper-Scissor game [GUI version, Python3]
#
# 1. Ignore the test directories, and also ignore the cache files and directories.
# 2. Ignore the database files and JSON files that carry application's data.

# Ignoring the python cache directory
__pycache__/

# Ignoring the test files and directories
test*
test/
tests/

# Ignoring the database files and all other json files that exists on this repository's folder
*.sqlite3
*.db
*.json
*.JSON
